body {
    background-color: hsl(0, 0%, 98%);
}

h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 30%);
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.column {
    float: left;
    padding: 15px;
}

.left {
    width: 70%;
    
}

.right {
    width: 30%;
}

.cart-box {
    background-color:rgb(226, 226, 226);
}


.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */