{% extends 'shop/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-8" style="background-color:#aaa;"> 
            <h2>Koszyk</h2>
            <h2>Aktualny użytkownik: {{current_user}}</h2>
            
            {% for order in orders_for_user %}
                <div class="col-md-12" style="background-color:rgb(226, 226, 226);">

                    <h4>id_zamowienie: {{order.id_zamowienie}}</h4>
                    <h10><em style="color:orange;">czy_oplacone:</em> {{order.czy_oplacone}},</h10>
                    <h10><em style="color:orange;">sposob_dostawy:</em> {{order.sposob_dostawy}},</h10>
                    <h10><em style="color:orange;">status:</em> {{order.status}},</h10>
                    <h10><em style="color:orange;">koszt:</em> {{order.koszt}},</h10>
                    <h10><em style="color:orange;">czat_id:</em> {{order.czat_id}},</h10>
                    <h10><em style="color:orange;">producent_id:</em> {{order.producent_id}},</h10>
                    <h10><em style="color:orange;">reklamacja_id:</em> {{order.reklamacja_id}}</h10>

                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Id produktu</th>
                            <th scope="col">Numer partii</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Id zamówienia</th>
                            <th scope="col">Id producenta</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for key, products in cart_products.items %}
                                {% if key == order.id_zamowienie %}
                                    {% for product in products %}
                                    <tr>
                                        <td>{{product.nazwa}}</td>
                                        <td>{{product.id_produktu}}</td>
                                        <td>{{product.numer_partii}}</td>
                                        <td>{{product.cena}}</td>
                                        <td>{{product.opis}}</td>
                                        <td>{{product.zamowienie_id}}</td>
                                        <td>{{product.producent_id}}</td>
                                    </tr> 
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                                              
                </div> 
            {% endfor %}
    </div>


    <div class="col-md-4" style="background-color:#aaa;">
        <h2>Podsumowanie</h2>
        
        <div class="row cart-box" style="background-color:rgb(226, 226, 226);">
            <h10>Wybierz zamówienie do zapłaty</h10>
            <br>
            <select class="form-control">
                {% for order in orders_for_user %}
                    <option>{{order.id_zamowienie}}</option>
                {% endfor %}
            </select>
        </div>
        <br>

        <div class="row cart-box" style="background-color:rgb(226, 226, 226);">
            <h4>Suma zamówienia</h4>
            <h10>Suma: {{cart_sum}} zł</h10>
            <br>
            <button class="btn btn-primary" type="submit">Zamawiam</button>
        </div>
        <br>

        
        <div class="row cart-box" style="background-color:rgb(226, 226, 226);">
            <h4>Czat</h4>
            <h10>Wybierz producenta</h10>
            <br>
            <br>
            <select class="form-control">
                {% for producent in cart_producents %}
                    <option>{{producent.producent_id}}</option>
                {% endfor %}
            </select>
        </div> 
        
    </div>
</div>

{% endblock content %}