{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <h1>{{object.nazwa_kategorii}}</h1>

    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="img-thumbnail" alt="Responsive image" src="{% static 'images/placeholder.png' %}">
                <div class="box-element product">
                    <h6><strong>{{product.nazwa}}</strong></h6>
                    <hr>
                    {% if user.is_klient %}
                        <button data-product={{product.id_produktu}} data-producent={{product.producent_id}} class="btn btn-outline-secondary add-btn update-cart">Dodaj do koszyka</button>
                    {% endif %}
                    <a class="btn btn-outline-success" href="{% url 'Product' product.pk %}">Zobacz</a>
                    <h4 style="display: inline-block;float: right">{{product.cena|floatformat:2}} zł</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}