{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for order in orders %}
    <div class="col-lg-4">

        <h4>id_zamowienie: {{order.id_zamowienie}}</h4>
        <h8><em style="color:orange;">czy_oplacone:</em> {{order.czy_oplacone}},</h8>
        <h8><em style="color:orange;">sposob_dostawy:</em> {{order.sposob_dostawy}},</h8>
        <h8><em style="color:orange;">status:</em> {{order.status}},</h8>
        <h8><em style="color:orange;">koszt:</em> {{order.koszt}},</h8>
        <h8><em style="color:orange;">czat_id:</em> {{order.czat_id}},</h8>
        <h8><em style="color:orange;">klient_id:</em> {{order.klient_id}},</h8>
        <h8><em style="color:orange;">producent_id:</em> {{order.producent_id}},</h8>
        <h8><em style="color:orange;">reklamacja_id:</em> {{order.reklamacja_id}}</h8>        
    </div>
    {% endfor %}
</div>   
{% endblock content %}
