<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Main page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <script type="text/javascript">

        var user = '{{request.user}}'

        function getCookie(name) {

            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {

                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {

                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');

    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <div class="collapse navbar-collapse col-lg-10" id="main_nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
                </li> 
    
                <li class="nav-item" >
                    <a class="nav-link" href="{% url 'signup' %}">Zarejestruj się</a>
                </li>
                <ul class="navbar-nav">

                    <li class="nav-item dropdown has-megamenu">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Wyszukiwarka</a>
                        <div class="dropdown-menu megamenu" role="menu">

                            <div class="row g-3">
                                {% for super_category, sub_categories in super_categories_dict.items %}
                                <div class="col-lg-3 col-6">
                                    <div class="col-megamenu">

                                        <h6 style="color:#0d6efd;" class="title">{{super_category}}</h6>
                                        <ul class="list-styled"> 

                                        {% for subcategory in sub_categories %}                     
                                            <li><a style="color:#0d6efd;" href="{% url 'Category' subcategory.pk %}">{{subcategory}}</a></li>
                                        {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div> 
                    </li>
                </ul>
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop' %}">Ecoheaven</a>
            </li>

            <li class="nav-item" >
                <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
            </li>
            
        </div> 
    </nav>

    <div class="container">
        <br> 
        {% block content %}

            <div class="row">
                {% for product in products %}
                <div class="col-lg-4">
                    <img class="img-thumbnail" alt="Responsive image" src="{% static 'images/placeholder.png' %}">
                    <div class="box-element product">
                        <h6><strong>{{product.nazwa}}</strong></h6>
                        <hr>
                        <button data-product={{product.id_produktu}} data-producent={{product.producent_id}} class="btn btn-outline-secondary add-btn update-cart">Dodaj do koszyka</button>
                        <a class="btn btn-outline-success" href="{% url 'Product' product.pk %}">Zobacz</a>
                        <h4 style="display: inline-block;float: right">{{product.cena|floatformat:2}} zł</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        {% endblock content %}
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/manage.js' %}"></script>
</body>
</html>