{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row" style="background-color:#aaa;">
    <h2 style="color:#0d6efd;">Historia zamówień</h2>

    <table class="table" style="background-color:rgb(226, 226, 226);">
        <thead>
            <th scope="col">Numer zamówienia</th>
            <th scope="col">Czy opłacone</th>
            <th scope="col">Sposób dostawy</th>
            <th scope="col">Status</th>
            <th scope="col">Koszt</th>
            <th scope="col">Czat id</th>
            <th scope="col">Reklamacja id</th>
            <th scope="col">Klient id</th>
            <th scope="col">Producent id</th>

            <th scope="col">Zareklamuj</th>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.czy_oplacone}}</td>
                    <td>{{order.sposob_dostawy}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.koszt}}</td>
                    <td>{{order.czat_id}}</td>
                    <td>{{order.reklamacja_id}}</td>
                    <td>{{order.klient_id}}</td>
                    <td>{{order.producent_id}}</td>

                    {% if user.is_klient %}
                        <td>
                            <div id='reclamation' class="btn btn-primary" onclick="reclamation()"  role="button" value="{{order.id}}">Reklamuję</div>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}